body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
  display: block;
  margin: 0;
}

/* first Half */
.head {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
  justify-content: center;
}

.headerbanner {
  display:flex;
  width: 960px;
  background-color: cadetblue;
  color: white;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.headerbanner img {
  padding-left: 2rem;
  padding-right: 1rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

li {
  display: inline-flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.headerbox {
  display: block;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  color: black;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
}

.headerbox h1 {
  justify-content: flex-end;
}

/* Second Half*/

.services {
height: 8rem;
margin-top: 3rem;
margin-bottom: 3rem;
}

.imagecontainer {
  display: block;
}

.paper, .ruler, .truck {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.services p {
    text-align: center;
}

.imagebox {
  display: flex;
  justify-content: center;
}

.paper {
  padding-right: 6rem;
}

.paper img {
  width: 3.5rem;
}

.ruler {
  padding-right: 6rem;
}

.ruler img {
  width: 5rem;
}

.truck img {
  width: 5rem;
}

/* Philosophy and Appointments */
.philappcontainer {
  display: flex;
  border: 1px solid red;
  width: 960px;
}

.philappitems {
  display: flex;
  justify-content: center;
  border: 1px solid green;
}

.phil,
.app {
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
}

.apptext {
  width: 35%;
}

.philtext {
width: 35%;
}
