body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

/* first Half */
.head {
  height: 30rem;
  background-size: cover;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
}

.headercontainer {
  display: flex;
  justify-content: center;
}

.headerbanner {
  display: flex;
  width: 960px;
  background-color: cadetblue;
  color: white;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.headerbanner img {
  padding-left: 2rem;
  padding-right: 1rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

li {
  display: inline-flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.headerbox {
  display: flex;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  color: black;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-left: 45rem;
  margin-right: 5rem;
}

/* Second Half*/
.imagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 8rem;
}

.imagebox {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.paper {
  padding-right: 6rem;
}

.paper img {
  width: 3.5rem;
}

.ruler {
  padding-right: 6rem;
}

.ruler img {
  width: 5rem;
}

.truck img {
  width: 5rem;
}

.imagetext {
  display: flex;
  justify-content: space-between;
}
